[submodule "cpp/JubiterPB"]
	path = cpp/JubiterPB
	url = https://github.com/ZXC-zxc/JubiterSDK_Common_pb.git
	branch = v3.9.1
[submodule "cpp/JubiterSDK"]
	path = cpp/JubiterSDK
	url = https://github.com/ZXC-zxc/JubiterSDK_C.git
	branch = mutex
[submodule "cpp/Protobuffer"]
	path = cpp/Protobuffer
	url = https://github.com/protocolbuffers/protobuf.git
